
<p id="notice"><%= notice %></p>

<h1>Matcher</h1>

<dl class="matcher">
  <div class="cat">
    <dt>Uri pattern</dt>
    <dd><%= @matcher.uri_pattern %></dd>
  </div>
  <div class="cat">
    <dt>Url replacement pattern</dt>
    <dd><%= @matcher.url_replacement_pattern %></dd>
  </div>
  <div class="cat">
    <dt>Name</dt>
    <dd><%= @matcher.name %></dd>
  </div>
  <div class="cat">
    <dt>Priority</dt>
    <dd><%= @matcher.priority %></dd>
  </div>
</dl>

<p>
  <%= link_to 'Edit', edit_matcher_path(@matcher) %> |
  <%= link_to 'Back', matchers_path %>
</p>

<p>
  sample
  <a href="/url/translate?query=http%3a%2f%2fwww4%2ewiwiss%2efu-berlin%2ede%2fdiseasome%2fresource%2fgenes%2fEDNRB" target="_blank">http://www4.wiwiss.fu-berlin.de/diseasome/resource/genes/EDNRB</a>
</p>
